[Desktop Entry]
Encoding=UTF-8
Name=Link to GameInternals - Understanding Pac-Man Ghost Behavior
Type=Link
URL=http://gameinternals.com/post/2072558330/understanding-pac-man-ghost-behavior
Icon=text-html
